body {
  background-color: #163639;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg-one {
  background-color: #163639;
}

.color-one {
  color: #163639;
}

.bg-two {
  background-color: #356d7a;
}

.color-two {
  color: #356d7a
}

.bg-three {
  background-color: #36d3e5;
}

.color-three {
  color: #36d3e5;
}

.bg-four {
  background-color: #c6edc2;
}

.color-four {
  color: #c6edc2;
}

.bg-five {
 background-color: #e8ef13;
}

.color-five {
  color: #e8ef13;
}